<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>

    <form>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
         <input type="submit" value="Sign up">
    </form>

</body>
</html>